*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

main {
    text-align: center;
}

#field_container {
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    border: solid 5px black;
    flex-wrap: wrap;
    border-radius: 3px;

}

.base_slot {
    border: solid 1px black;
    margin: 2px;
}

.base_slot:hover {
    background-color: rgba(0, 0, 0, 0.418)
}

.easy_slot {
    width: calc((100% / 10) - 4px);
    height: calc((100vh / 10) - 4px);
}

.medium_slot {
    width: calc((100% / 9) - 4px);
    height: calc((100vh / 9) - 4px);
}

.hard_slot {
    width: calc((100% / 7) - 4px);
    height: calc((100vh / 7) - 4px);
}

.checked {
    background-color: rgb(203, 225, 233);
    border: 0.5vh solid blue;
}